extends base.pug

block scripts 
    //- jahan scripts likha hua h wahan pug ko bolo ki index.js daal do.
    script(src='/static/index.js')

block style 
    //- style wali jagah pr style.css daal do.
    style
      include ../static/style.css

block content 
    section#introSection
        div Welcome to Abhinav Dance Academy. 
        div.small Life is better when u dance...

    section#missionSection
        h2 Our Mission
        div.card#id1
          h3 Dance like the way you want. 
          div.card-box 
            div.card-img
              img(src="https://us.123rf.com/450wm/thesilhouettequeen/thesilhouettequeen2010/thesilhouettequeen201007285/158032712-kuchipudi-silhouette-vector.jpg")
            div.card-content
              p A rising dance academy in East Delhi.

        
        div.card#id2
          h3 Let the stage set on fire.
          div.card-box 
            div.card-img
              img(src="https://previews.123rf.com/images/gaydarova/gaydarova2002/gaydarova200200070/142919851-black-silhouette-of-a-dancing-man-on-white-background-a-male-street-dance-hip-hop-dancer-vector.jpg")
            div.card-content
              p Dance from your soul.

        div.card#id3
          h3 Perfection in dance.
          div.card-box 
            div.card-img
              img(src="https://img.freepik.com/premium-vector/beautiful-drawing-ballerina-white-backgroundsketchvector-black-silhouette-dancer_588444-164.jpg")
            div.card-content
              p Let's bring out the dance from inside u.

    section#sponsorSection
        h2 Our sponsors  
        div#sponsors
          img(src="/static/img/1.jpg", alt="Sponsor Image", class="spImage")
          img(src="/static/img/2.jpg", alt="Sponsor Image", class="spImage")
          img(src="/static/img/3.png", alt="Sponsor Image", class="spImage")
          img(src="/static/img/5.png", alt="Sponsor Image", class="spImage")